<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        {{val_name}}
        <button type="submit">send</button>
    </form>
    {% for usersfeedbacks in val_name2 %}
        <p>{{usersfeedbacks.name}}</p>
        <p>{{usersfeedbacks.family}}</p>
        <p>{{usersfeedbacks.feedback}}</p>
    {% endfor %}
</body>
</html>
